/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content{
    width: 100%;
    margin: 0 auto;
    padding: 1PX 0PX 27px 0PX;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header and Footer Styles */
header, footer {
    background: linear-gradient(45deg, #0074B9, #32B34D); /* Gradient */
    color: #fff;
    padding: 12px 0;
}

footer {
    bottom: -10000;
    position: sticky;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Stay on top */
    width: 100%;
}

header .container, footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: beach resort;
    letter-spacing: 0.1ch;
}

header nav ul, footer .quick-links {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}

header nav ul li, footer .quick-links li {
    display: inline;
    margin-left: 15px;
}

header nav ul li a, footer .quick-links li a, footer .social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.product-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:24px;
    padding: 24px;
  }

.product-card {
    margin-bottom: 50px;
    background-color: #eeeeee;
    padding: 24px;
    border: 1px solid #ddd;
    transition: all 0.3s ease-in-out;
}

.product-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    object-fit: scale-down;
    
}

.product-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-card p {
    margin-bottom: 20px;
}

.product-card button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-card button:hover {
    background-color: #555;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

/* Contact Form Styles */
section.contact-form {
    padding: 50px 0;
    text-align: center;
}

section.contact-form h1 {
    margin-bottom: 30px;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form form button:hover {
    background-color: #555;
}

/* Login Styles */
section.login-form {
    padding: 50px 0;
    text-align: center;
}

section.login-form h1 {
    margin-bottom: 30px;
}

.login-form form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form form button:hover {
    background-color: #555;
}

/* Sign Up Form Styles */
section.signup-form {
    padding: 50px 0;
    text-align: center;
}

section.signup-form h1 {
    margin-bottom: 30px;
}

.signup-form form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signup-form form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-form form button:hover {
    background-color: #555;
}

/* Footer Styles */
footer {
    padding: 20px 0;
    text-align: center;
}

footer .quick-links, footer .social-links {
    text-align: center;
}

footer .quick-links a, footer .social-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
/* Add to Cart*/
.cart-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 5% auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.cart-item {
    display: flex;
    align-items: center;
    margin: 20px;
}

.cart-item img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 20px;
}

.item-details {
    flex-grow: 1;
}

.item-details h2 {
    font-size: 18px;
    margin: 0 0 10px;
}

.item-details p {
    font-size: 16px;
    color: #555;
    margin: 0;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
}

.remove-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #c82333;
}

.cart-summary {
    text-align: center;
}
.cart-summary h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.checkout-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}
